body {
    font-family: Arial, sans-serif;
}
.meny-logo {
    height: 50px; 
    width: auto;  
    margin-right: 10px;  
    transition: transform 0.3s ease-in-out; 
}
.hero {
    background: rgba(0, 0, 0, 0.5);
    padding: 100px 0;
    text-align: center;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}
.footer-container {
    background: #333;
    color: white;
    text-align: center;
    padding: 10px 0;
    position: fixed;
    bottom: 0;
    width: 100%;
}
h1 {
    font-size: 50px;
    color: rgb(255, 255, 255);
    margin-bottom: 20px;
}
